#define PHOTORESISTOR_MIN 100
#define PHOTORESISTOR_MAX 300
#define PARKING_NAME "PARKING_NAME"
#define PARKING_FULL_NAME "PARKING_FULL_NAME"
#define PARKING_POSITION "0.000000, 0.000000"
#define PARKING_EXTERNAL_ADDRESS "0.0.0.0"
#define PARKING_ADDRESS "PARKING_ADDRESS"
#define FLASK_URL "http://FLASK_URL"
