// MySQL access
#define MYSQL_IP {0, 0, 0, 0}            // IP address of the machine running MySQL
#define MYSQL_USER "MYSQL_USER"                     // db user
#define MYSQL_PASS "MYSQL_PASS"                   // db user's password

// MQTT access
#define MQTT_BROKERIP "0.0.0.0"          // IP address of the machine running the MQTT broker
#define MQTT_USERNAME "MQTT_USERNAME"                // mqtt user's name
#define MQTT_PASSWORD "MQTT_PASSWORD"                // mqtt user's password

// WiFi configuration
#define SECRET_SSID "SECRET_SSID"  // SSID
#define SECRET_PASS "SECRET_PASS"              // WiFi password


// InfluxDB cfg
#define INFLUXDB_URL "http://INFLUXDB_URL"   // IP and port of the InfluxDB server
#define INFLUXDB_TOKEN "INFLUXDB_TOKEN"   // API authentication token (Use: InfluxDB UI -> Load Data -> Tokens -> <select token>)
#define INFLUXDB_ORG "INFLUXDB_ORG"                 // organization id (Use: InfluxDB UI -> Settings -> Profile -> <name under tile> )
#define INFLUXDB_BUCKET "INFLUXDB_BUCKET"                 // bucket name (Use: InfluxDB UI -> Load Data -> Buckets)
