// MQTT access
#define MQTT_BROKERIP "0.0.0.0"          // IP address of the machine running the MQTT broker
#define MQTT_USERNAME "MQTT_USERNAME"                // mqtt user's name
#define MQTT_PASSWORD "MQTT_PASSWORD"                // mqtt user's password

// WiFi configuration
#define SECRET_SSID "SECRET_SSID"  // SSID
#define SECRET_PASS "SECRET_PASS"              // WiFi password
